        .body_style{
            /*width: 100%;
        padding: 10px;
        margin: 0px;*/
                background-color: rgb(13, 6, 46);
        
        }
        .body_style1{
                
                    background-color: rgb(0, 0, 0);
            
            }
        .background-display {
                border: 10px black;
                padding: 15px;
                background: black;
                background-clip: padding-box;


        }

        @keyframes grow {
        from {
            font-size: 10px;
        }
        to {
            font-size: 80px;
        }
        }

        #myname{
                color:rgb(240, 237, 232); 
                text-align:center;
                font-size: 80px;
                animation-name: grow;
                animation-duration: 4s;
                animation-fill-mode: forwards;;
        }
        #myname:hover{
                text-shadow: 6px 8px 8px #233fe0;
        }

        .carousel-item{
                height: 400px;
        } 
        .carousel-item img{
                height: 400px;
        }
        .dropdown-menu{
                box-shadow: 2px 4px 4px 8px rgb(92, 89, 89);
        }
        .dropdown-menu:hover{
                background-color: rgb(210, 238, 87);
        }
        .collapse {
                color:white;
        }
        .nav-item:hover {
                background-color:brown;
        }
        .bg-dark {
                background-color: #384c61!important;
                color: blanchedalmond;
        } 

        .nav-link {
                color: blanchedalmond!important; 
        }
        .navbar-brand{
                color: blanchedalmond!important;
        }
        #about_me{

                text-align:center;

                font-size: 20px;
                background: rgb(24, 13, 63);
                color:blanchedalmond;
                margin: 30px;
                padding: 50px;
                background-image:url("night-sky.jpg");
                background-repeat: repeat;
                box-shadow: 2px 4px 4px 8px rgb(92, 89, 89);
                animation-name: easeout;
                animation-fill-mode: forwards;
                animation-duration: 2s;

        }
        #about_me:hover{
                background: rgb(37, 1, 61);
                opacity: 0.9;
                
        }

        .card:hover{
                box-shadow: 2px 4px 4px 8px rgb(92, 89, 89);
                background-color: rgb(0, 0, 0);

                color: floralwhite;

        }

        @keyframes easeout{
            0%{
                opacity: 0%;
            }
            25%{
                opacity: 25%;
            }
            50%{
                opacity: 50%;
            }
            
            100%{
                opacity: 100%;
            }
        }
        .card{
            animation-name: easeout;
            animation-fill-mode: forwards;
            animation-duration: 2s;
            
        }
        .card-group{
            margin-bottom: 10%;
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 1%;
        }

        #img_my{
                border-radius: 100%;
                width: 160px;
                height: 150px;

        }
        .details{

                vertical-align: middle;
                display: block;
        }
        #myimage{
                display: inline-block;

        }
        #time_img{
                width: 50%x;
                height: 200px;
                float: left ;
        }
       
        .time,#connect,.article{
                margin: 30px;
                padding: 50px;
               
        }

        .article-card{
                
                margin-bottom: 3%;
        }
        #turing-logo{
                width: 50%x;
                height: 200px;
                float: left ;
        }
        .time:hover{
                box-shadow: 2px 4px 4px 8px rgb(230, 215, 11);

        }
        @keyframes grow1{
                from{
                        width:20px;
                        height: 20px;
                }
                to{
                        width: 300px;
                        height: 200px;
                }
        }
        #icon{
                margin: 30px;
                padding: 50px;
                width: 300px;
                height: 200px;
               
                
            }
        .fake{
            animation-name: grow1;
            animation-duration: 4s;
            animation-fill-mode: forwards;
            animation-play-state: paused;
           
        }

        #icon{
                transition: width 2s, height 2s, transform 2s;
        }
        #icon:hover{
                transform: rotate(360deg);
        }

        .project_div{
                padding: 3%;
                background-color: rgb(254, 255, 196);
                margin: 4%;
                text-align: center;
                

        }
        .project_div:hover{
                background-color: rgb(14, 3, 27);
                color: cornsilk;
        }
       .analytics-vidhya{
                width: 100%;
                height: 200px;
       }
       .article-card{
                width: 40%;
                margin: 3%;
                display: inline-block;
       }

